body {
  padding: 15px;
  background-color: beige;
  font-family: 'Artifika','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#root {
  display: flex;
}

#header {
  background-color: chartreuse;
}

.container {
  display: flex;
}
.box1 {
  float: left;
}
.box2 {
  float: right;
  align-content: right;
}

.todobox{
  
}

.itemDisplay{
  display: none;
}

