body {
  padding: 10px;
  background-color:#f0fff5;
  font-family:'Belgrano',sans-serif;
}

.container {
  padding: 5px; 
}

#header {
  font-family: 'Bungee Inline', sans-serif;
  display: flex;
  flex-direction: row;
  clear: both;
  padding: 35px;
  align-items: baseline;
}

.box1 {
  float: left;
  flex-grow: 1;
}

.box2 {
  float: right;
  flex-grow: 2;
  text-align: right;
}

.nav {
  float: right;
  clear: both;
  padding: 20px;
  word-spacing: 5px;
  font-weight: bolder;
  font-size: larger;
}

.nav1 {
  color: black;
}
.todobox {
  background-color: #84ffc9;
  clear: both;
  padding: 20px;
  padding-left:23.5%;
  padding-right: 20%;
  margin: 5px;
  margin-left:2% ;
  margin-right:2% ;
  border-radius: 10px;
}

.boxstyle {
  background-color:azure;
  text-align: center;
  height: 5vw;
  width: 40vw;
  margin: 5px;
  border: 3px solid;
  border-radius: 5px;
  padding: 10px;
}

.itemdisplay {
  display: none;
  margin: 5px;
  border: 3px solid;
  border-radius: 5px;
  padding: 10px;
  width: 20vw;
}

.itemadd {
  padding: 10px;
  font-size: x-large;
  font-weight: bolder;
  justify-content: left;
}

.checkeditem {
  padding: 10px;
  font-size: x-large;
  color: blue;
  text-decoration: line-through;
}

.btn {
  margin: 5px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  padding: 12px 10px;
  font-weight: bolder;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.btn:hover {
  background: none;
  border: 2px solid black;
  border-radius: 5px;
  border-width: 3px;
  text-decoration: none;
}

.formbox {
  clear: both;
  padding: 10px;
  padding-left: 3vw;
  margin: 5px;
  margin-right: 30vw;
  font-size: large;
  font-weight: bold;
  border: 3px solid black;
}

